body, html {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

:root {
  font-size: $default-font;
}

body {
  display: flex;
  flex-direction: column;
  font-family: $body-font-style;
  height: 100%;
  background-image: url("/images/test3.jpg");
}

.page-wrapper {
  flex: 1 0 auto;
}
