footer {
  display: flex;
  justify-content: space-around;
  flex-shrink: 0;
  background-color: white;
  padding: 40px;
}

footer a {
  padding-left: 10px;
}

.social-media-section {
  display: flex;
  gap: 20px;
}

.social-media-section img {
  max-width: 30px;
}

.card-footer {
  display: block;
  padding: 0;
}

@media(max-width: 700px) {
  footer {
    flex-direction: column;
    align-self: center;
  }

  footer section {
    margin: 20px 0;
    text-align: center;
  }

  .social-media-section {
    justify-content: center;
  }
}
