main {
  margin: 50px auto;
  width: 70%;
}

h1 {
  margin: 50px 0;
}

h2 {
  margin-bottom: 15px;
}

.card-information h2 {
  margin: 20px 0;
  margin-bottom: 0;
}

.card-information p {
  margin: 10px 0;
}

p {
  max-width: 400px;
}

.main-products-page {
  width: 80%;
}

.introduction-container {
  display: flex;
  gap: 50px;
  margin: 50px auto;
}

.main-index-page {
  display: block; 
}

.index-page-container {
  display: flex;
  gap: 70px;
}

.btn-container {
  background-color: hsla(60, 100%, 50%, 1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 300px;
  border-radius: 5px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}

.card {
  display: grid;
}

.card img {
  object-fit: cover;
}

.card p {
  padding: 10px 0;
}

.information-container h1 {
  max-width: 500px;
}

.main-image {
  display: block;
  max-width: 300px;
}

.btn-container:hover, .btn-container:focus, .btn-container:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.text-information {
  padding-left: 30px;
  font-style: italic;
}

.text-information {
  margin-top: 10px;
}

.calendar-image {
  width: 70px;
}

.text-information--inn {
  color: green;
}

.text-information--out {
  color: $underline-color;
}

@media(max-width: 1350px) {
  .introduction-container {
    justify-content: space-between;
  }

  .product-image {
    max-width: 300px;
  }

  .main-index-page {
    width: 70%;
  }
}

@media(max-width: 1065px) {
  .main-index-page {
    width: 90%;
    margin: 0 auto;
  }

  .introduction-container {
    flex-direction: column;
    align-items: center;
  }

  .main-products-page {
    width: 90%;
  }

  .information-container p {
    margin: 0 auto;
  }

  .main-image {
    max-width: 300px;
  }

  .card-container {
    justify-content: center;
  }
}

@media(max-width: 700px) {
  h1, h2, h3 {
    text-align: center;
  }

  .index-page-container {
    flex-direction: column;
    align-items: center;
  }

  .btn-container {
    margin: 0 auto;
    margin-top: 10%;
  }

  .main-image {
    display: none;
  }

  .product-image {
    max-width: 300px;
  }

  .btn-container-products-page {
    margin: 20px 0; 
  }
}

@media(max-width: 400px) {
  header {
    display: block;
    margin: 0 auto;
    width: 50%;
  }

  nav {
    display: none;
  }

  .product-image {
    max-width: 150px;
  }

