header a {
  color: #414535;
  font-size: 1.3rem;
  text-decoration: none;
  margin-left: 100px; }

header {
  display: flex;
  align-items: baseline;
  max-width: 90%;
  margin: 40px auto; }

@media (max-width: 650px) {
  header {
    flex-direction: column;
    align-self: center; }
  nav a {
    display: block;
    margin-left: 50%;
    margin-top: 10px; } }

main {
  display: flex;
  justify-content: space-around; }
  main section {
    border-radius: 5px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    background: white;
    max-width: 600px;
    padding: 30px; }

.aside-container__products-button-container {
  width: 300px;
  border-radius: 5px;
  background: #DDD50F;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20%;
  margin-left: 8%; }

.aside-container__products-button-container a {
  text-decoration: none;
  color: black; }

footer {
  flex-shrink: 0; }

body, html {
  height: 100%; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  border: 0;
  margin: 0;
  padding: 0; }

:root {
  font-size: 16px; }

body {
  display: flex;
  flex-direction: column;
  font-family: "Karla", "Arial", sans-serif;
  height: 100%;
  background: white;
  background: linear-gradient(150deg, white 70%, rgba(221, 110, 15, 0.8) 89%); }

.page-wrapper {
  flex: 1 0 auto; }
