header {
  background-color: white;
  display: flex;
  align-items: baseline;
  padding: 40px; }

header a {
  color: #000000;
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
  margin-left: 100px; }

@media (max-width: 650px) {
  header {
    flex-direction: column;
    align-self: center; }
  nav a {
    display: block;
    margin-left: 50%;
    margin-top: 10px; } }

main {
  flex-direction: row-reverse;
  display: flex;
  margin: 50px auto;
  width: 60%;
  gap: 50px; }

.btn-container {
  background-color: yellow;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 300px;
  border-radius: 5px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20%; }

.section-container__products-container {
  display: flex;
  flex-direction: column;
  gap: 50px; }

.product-content-container {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 40%; }

.product-content-container img {
  max-width: 150px; }

.main-image {
  display: block;
  max-width: 500px; }

.btn-container:hover, .btn-container:focus, .btn-container:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

.btn-container a {
  text-decoration: none;
  color: #8f0a0e;
  font-weight: bold; }

footer {
  display: flex;
  justify-content: space-around;
  flex-shrink: 0;
  background-color: white;
  padding: 40px; }

.social-media-section {
  display: flex;
  gap: 20px; }

.social-media-section img {
  max-width: 30px; }

body, html {
  height: 100%; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  border: 0;
  margin: 0;
  padding: 0; }

:root {
  font-size: 16px; }

body {
  display: flex;
  flex-direction: column;
  font-family: "Karla", "Arial", sans-serif;
  height: 100%;
  background-image: url("/images/test3.jpg"); }

.page-wrapper {
  flex: 1 0 auto; }
