header {
  background-color: white;
  display: flex;
  align-items: baseline;
  padding: 40px; }

header a {
  color: #000000;
  text-decoration: none;
  margin-left: 100px; }

.card-header {
  background: 0; }

@media (max-width: 700px) {
  header {
    flex-direction: column;
    align-items: center; }
  nav {
    display: none; } }

.card-header {
  padding: 0;
  display: block; }

main {
  margin: 50px auto;
  width: 70%; }

h1 {
  margin: 50px 0; }

h2 {
  margin-bottom: 15px; }

.card-information h2 {
  margin: 20px 0;
  margin-bottom: 0; }

.card-information p {
  margin: 10px 0; }

p {
  max-width: 400px; }

.main-products-page {
  width: 80%; }

.introduction-container {
  display: flex;
  gap: 50px;
  margin: 50px auto; }

.main-index-page {
  display: block; }

.index-page-container {
  display: flex;
  gap: 70px; }

.btn-container {
  background-color: yellow;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 300px;
  border-radius: 5px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10%; }

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px; }

.card {
  display: grid; }

.card img {
  object-fit: cover; }

.card p {
  padding: 10px 0; }

.information-container h1 {
  max-width: 500px; }

.main-image {
  display: block;
  max-width: 300px; }

.btn-container:hover, .btn-container:focus, .btn-container:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

.text-information {
  padding-left: 30px;
  font-style: italic; }

.text-information {
  margin-top: 10px; }

.calendar-image {
  width: 70px; }

.text-information--inn {
  color: green; }

.text-information--out {
  color: #8f0a0e; }

@media (max-width: 1350px) {
  .introduction-container {
    justify-content: space-between; }
  .product-image {
    max-width: 300px; }
  .main-index-page {
    width: 70%; } }

@media (max-width: 1065px) {
  .main-index-page {
    width: 90%;
    margin: 0 auto; }
  .introduction-container {
    flex-direction: column;
    align-items: center; }
  .main-products-page {
    width: 90%; }
  .information-container p {
    margin: 0 auto; }
  .main-image {
    max-width: 300px; }
  .card-container {
    justify-content: center; } }

@media (max-width: 700px) {
  h1, h2, h3 {
    text-align: center; }
  .index-page-container {
    flex-direction: column;
    align-items: center; }
  .btn-container {
    margin: 0 auto;
    margin-top: 10%; }
  .main-image {
    display: none; }
  .product-image {
    max-width: 300px; }
  .btn-container-products-page {
    margin: 20px 0; } }

@media (max-width: 400px) {
  header {
    display: block;
    margin: 0 auto;
    width: 50%; }
  nav {
    display: none; }
  .product-image {
    max-width: 150px; } }

footer {
  display: flex;
  justify-content: space-around;
  flex-shrink: 0;
  background-color: white;
  padding: 40px; }

footer a {
  padding-left: 10px; }

.social-media-section {
  display: flex;
  gap: 20px; }

.social-media-section img {
  max-width: 30px; }

.card-footer {
  display: block;
  padding: 0; }

@media (max-width: 700px) {
  footer {
    flex-direction: column;
    align-self: center; }
  footer section {
    margin: 20px 0;
    text-align: center; }
  .social-media-section {
    justify-content: center; } }

body, html {
  height: 100%; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  border: 0;
  margin: 0;
  padding: 0; }

:root {
  font-size: 16px; }

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url("/images/test3.jpg"); }

.page-wrapper {
  flex: 1 0 auto; }

@font-face {
  font-family: 'Inconsolata';
  src: url("../../fonts/Inconsolata/Inconsolata.otf") format("woff2"); }

@font-face {
  font-family: 'Inconsolata Bold';
  src: url("../../fonts/Inconsolata/inconsolata.bold.ttf") format("woff2"); }

@font-face {
  font-family: 'Open Sans Extra Bold';
  src: url("../../fonts/open-sans/OpenSans-ExtraBold.ttf") format("woff2"); }

@font-face {
  font-family: 'Open Sans Semi Bold';
  src: url("../../fonts/open-sans/OpenSans-Semibold.ttf") format("woff2"); }

@font-face {
  font-family: 'Karla';
  src: url("../../fonts/karla/Karla-Regular.ttf") format("woff2"); }

h1, h2, h3, h4, h5 {
  font-family: 'Inconsolata', Times New Roman, serif; }

h1:first-letter, h2:first-letter, h3:first-letter, h4:first-letter,
h5:first-letter, p:first-letter, .heading-lettercap, .btn-container a {
  text-transform: capitalize; }

h1 {
  font-family: 'Inconsolata Bold', Times New Roman, serif;
  font-size: 59px;
  text-decoration: underline;
  text-decoration-color: #8f0a0e;
  letter-spacing: 1.5px; }

h2 {
  font-size: 37px;
  letter-spacing: 0.5px; }

.main-products-page h2 {
  font-size: 27px; }

h3 {
  font-size: 27px;
  letter-spacing: 0; }

main h3 {
  margin-bottom: 5px; }

h4 {
  font-size: 24px;
  letter-spacing: 0.25px; }

p {
  font-family: 'Karla', Arial, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  letter-spacing: 0.5px; }

header a, main a {
  font-family: 'Open Sans Extra Bold', Arial, sans-serif; }

header a:hover, footer a:hover {
  text-decoration: underline;
  text-decoration-color: #8f0a0e; }

footer a {
  font-family: 'Open Sans Semi Bold', Arial, sans-serif;
  text-decoration: none; }

.heading-lettercap {
  color: #8f0a0e;
  float: left;
  font-size: 40px;
  line-height: 60px;
  padding-right: 8px;
  padding-left: 3px; }

.btn-container a {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #8f0a0e;
  font-weight: bold; }

@media (max-width: 900px) {
  h1 {
    font-size: 37px; }
  h2 {
    font-size: 27px; }
  h3 {
    font-size: 24px; } }

@media (max-width: 500px) {
  h1 {
    font-size: 30px; } }
